/* Ensure the grid container is centered horizontally */
.grid-container {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center; /* Center the content horizontally */
}

/* Adjust the alignment for the cards and images */
.card-img {
  width: 100%;
  height: auto;
}

.card-title {
  color: #32cd32;
}

.card-button {
  background-color: #3cb371;
  border-color: #3cb371;
}

/* Align the content in the row vertically and center each card's content */
.row-align-center {
  display: flex;
  align-items: center;
  justify-content: center; /* This centers the content horizontally */
}

.main-category {
  margin-bottom: 7rem; /* So that each main category is clearly seperated */
}

.courseCard {
  margin-bottom: 4rem; /* So that each course card does not overlap each other */
}